body{
  background-color: #f2f2f2;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
}



.nav
{
	width:100%;
	color:black;
	position:fixed;
	top:0;
	overflow: hidden;
	background-color:#f2f2f2;
}



.nav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  font-size: 18px;
 color:#444444;
	
}

.nav-flip
{
    float: right;
}

.nav a:hover {
  background: #ddd;
  color: black;
}

.middle {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	padding-bottom:30px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 18px;
}


.middle_text {
	width: 70%;
	text-align: left;
	padding-left: 15%;
	padding-right: 15%;
	display: inline-block;
	background-color: #FFFFFF;
	color: #717070;
}


/* instagram */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  color: #444444;
}


/* HERO */

.hero {
  background-image: url('../images/warsaw2.jpg');
  background-repeat : no-repeat;
  margin-top: 48px;
  padding-top: 120px;
  padding-bottom: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
	
}

.hero-text {
  text-align: center;
  position: static;
  top: 50%;
  left: 50%;
  color: white;
}

.footer{
	background-color:#f2f2f2;
	text-align:center;
	margin-bottom:0;
	padding-bottom:0;
}

.footer p{
	font-size:12px;
}



