body{
  background-color: #f2f2f2;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.box
{
	width:100%;
	height:60px;
	position:fixed;
	
	background-color:#3366cc;
	z-index: -1;
    margin-bottom: 30px;
	text-align:center;
	
	display: block;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
	
    color: #444;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;

}

th
{
	margin-left:20px;
	margin-right:20px;
	
}

nav{
	margin: 0;
    padding: 0;
    list-style: none;
    float: left;
	
}

ul{
	display: inlline-block;
    list-style-type: none
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
	
}

li{
	list-style-type:none;
}

 ul li{
	float: left;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	margin-right: 35px;
	letter-spacing: 2px;
	font-weight: bold;
	/*transition: all 0.3s linear;*/
	
}

ul li a {
	color: #FFFFFF;
	text-decoration: none;
	display:block;
}

.nav-flip
{
	display:inline-block;
    float: right;
}


